:root {
    --primary-color: white;
    --accent-color: rgb(24, 24, 105);
    --body-font: Arial, Helvetica, sans-serif;
    --header-font: "Times New Roman", Georgia, serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    /* color: rgb(254, 254, 255); */
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

main {
    position: relative;
}

.hero article {
    position: absolute;
    bottom: 30px;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

h1,
h2 {
    font-family: var(--header-font);
    color: var(--primary-color);
    background-color: var(--accent-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.navLink a {
    display: block;
    text-decoration: none;
    color: black;
}

header img {
    width: 90px;
    height: auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia img {
    width: 50px;
}