* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(254, 254, 255); */
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

main {
    position: relative;
}

main article {
    position: absolute;
    bottom: 30px;
    opacity: 0.7;
    background-color: rgb(24, 24, 105);
    color: white;
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(24, 24, 105);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.navLink a {
    display: block;
    text-decoration: none;
    color: black;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: rgb(24, 24, 105);
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

.socialmedia img {
    width: 50px;
}