nav {
    background-color: black;
    padding: 1rem;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
    display: block;
}

main {
    max-width: 840px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1px;
    box-shadow: 10px 5px 10px #333;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(0 0 0/0.2);
    text-align: center;
}