* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

main {
    max-width: 840px;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 1rem;
    border-bottom: 1px solid rgb(0 0 0/0.2);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1px;
    box-shadow: 10px 10px 10px rgb(0 0 0/0.2);
    /* box-shadow: 10px 5px 10px #333; */
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    border: 1px solid rgb(0 0 0/0.2);
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 120px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgb(0 0 0/0.2);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 3rem;
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}